@import 'libs/bootstrap-reboot.min';
@import 'blocks/box';

body {
    margin: 0;
    padding: 0;
}

// .container{
//     width: 1140px;
//     margin: 0 auto;
// }

.container {
 width: 100%;
 padding: 0 15px;
 margin: auto;
 @media (min-width: 576px) {
   max-width: 540px;
 }
 @media (min-width: 768px) {
   max-width: 720px;
 }
 @media (min-width: 992px) {
   max-width: 960px;
 }
 @media (min-width: 1200px) {
   max-width: 1100px;
 }
 @media (min-width: 1500px) {
   max-width: 1170px;
 }
}

