.wrapper {
    &__form {
        margin: 70px auto;
        background: white;
        border: 0 none;
        border-radius: 3px;
        box-shadow: 0 0 15px 1px rgb(0 0 0 / 40%);
        padding: 20px 30px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 400px;
        &_title {
            font-size: 15px;
            text-transform: uppercase;
            color: #2C3E50;
            margin-bottom: 10px;
            text-align: center;
        }
        &_input {
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 3px;
            margin-bottom: 10px;
            width: 100%;
            box-sizing: border-box;
            color: #2C3E50;
            font-size: 13px;
            font-family: montserrat;
        }
        &_btn {
            width: 100px;
            background: #27AE60;
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 1px;
            outline: none;
            padding: 10px 5px;
            margin: 0 auto;
            &:hover {
                box-shadow: 0 0 0 2px white, 0 0 0 3px #27ae60;
            }
        }
    }
    .status {
        font-size: 13px;
        font-family: montserrat;
        color: red;
        margin-top: 5px;
    }
    @media (max-width: 576px) {
        &__form {
            width: 100%;
            gap: 10px;
        }
      }
}